Flask
flask-sock
qrcode
Flask-Caching
Flask-Compress
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
flask_cors
python-dotenv
requests
beautifulsoup4
email-validator
openpyxl
Pillow
psycopg2-binary
psutil